@model IEnumerable<ProductViewModel>

@{
    ViewData["Title"] = "CategoryList";
}

<h1 class="m-xl-5" >@ViewBag.item</h1>

<div class=" row align-items-center justify-content-center mb-xl-2">
    <a class="btn btn alert-info w-75 shadow" asp-action="Create">Create New</a>
</div>
<hr />
<table class="table alert-success shadow">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th>
                Options
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImageUrl)
            </th>
            
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model) {
        <tr class=@(item.Id % 2 == 0 ? "alert-success" : "alert-warning")>
            <td>
                @Html.DisplayFor(Model => item.Name)
            </td>
            <td>
                @Html.DisplayFor(d => item.Description)
            </td>
            
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category)
            </td>
                
            <td>
                <a class="btn btn-secondary " asp-action="Edit" asp-route-id="@item.Id">Edit</a> 
                <a class="btn btn-success" asp-action="Details" asp-route-id="@item.Id">Details</a> 
                <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
                <td>
                    <img src=@item.ImageUrl height="200px" width="200px" />
                </td>
        </tr>
}
    </tbody>
</table>
